*{
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
}

body{
    background-color: #222;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0  ;
    border-radius: 20px;
    padding: 45px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color:#555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 15px;
    font-size: 18px;

}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 17px ;
}

.weather_icon{
    width: 170px;
    margin-top: 30px;

}

.weather h1{
    font-size: 70px;
    font-weight: 500;
}

.weather h2{
    font-size: 30px;
    font-weight: 300;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}


.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 25px;
    margin-top: -6px;

}


@media (max-width: 1283px){
    .card .search{
        width: 21%;
    }
}
@media (max-width: 1222px){
    .card .search{
        width: 22%;
    }
}
@media (max-width: 1166px){
    .card .search{
        width: 23%;
    }
}
@media (max-width: 1116px){
    .card .search{
        width: 25%;
    }
}
@media (max-width: 1026px){
    .card .search{
        width: 27%;
    }
}
@media (max-width: 950px){
    .card .search{
        width: 29%;
    }
}
@media (max-width: 885px){
    .card .search{
        width: 31%;
    }
}
@media (max-width: 828px){
    .card .search{
        width: 33%;
    }
}
@media (max-width: 777px){
    .card .search{
        width: 35%;
    }
}
@media (max-width: 733px){
    .card .search{
        width: 37%;
    }
}
@media (max-width: 693px){
    .card .search{
        width: 39%;
    }
}
@media (max-width: 658px){
    .card .search{
        width: 41%;
    }
}
@media (max-width: 626px){
    .card .search{
        width: 43%;
    }
}
@media (max-width: 596px){
    .card .search{
        width: 45%;
    }
}
@media (max-width: 570px){
    .card .search{
        width: 47%;
    }
}
@media (max-width: 546px){
    .card .search{
        width: 50%;
    }
}
@media (max-width: 513px){
    .card .search{
        width: 53%;
    }
}
@media (max-width: 484px){
    .card .search{
        width: 58%;
    }
}
@media (max-width: 442px){
    .card .search{
        width: 64%;
    }
}
@media (max-width: 401px){
    .card .search{
        width: 70%;
    }
}
@media (max-width: 366px){
    .card .search{
        width: 77%;
    }
}
@media (max-width: 333px){
    .card .search{
        width: 85%;
    }
}
